body{
margin:0;
background:black;
}

#map{
position:relative;
width:100%;
}

#galaxy{
width:100%;
display:block;
}

.planet{
position:absolute;
transform:translate(-50%,-50%);
cursor:pointer;
}

.planet img{
width:24px;
}

#popup{
position:fixed;
right:20px;
top:20px;
background:#111;
color:white;
padding:15px;
border:1px solid #555;
}

.hidden{
display:none;
}
