body{
    margin:50;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#map-container{
    position:relative;
    width:90vw;
    max-width:1200px;
}

#galaxy-map{
    width:100%;
    display:block;
}

.planet{
    position:absolute;
    transform:translate(-50%,-50%);
}

.planet img{
    width:18px;
}
