.planet{
    position:absolute;
    transform:translate(-50%,-50%);
}

.planet img{
    width:16px;
    cursor:pointer;
}

.planet-label{

    position:absolute;
    top:-18px;
    left:50%;
    transform:translateX(-50%);

    color:cyan;
    font-size:12px;
    font-weight:bold;

    white-space:nowrap;

    display:none;
}

.planet:hover .planet-label{
    display:block;
}
